<div class="mdl-grid">
{{#jobs}}
  <div class="mdl-cell mdl-cell--4-col">
    <div class="card-job mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">{{this.name}}</h2>
      </div>
      <div class="mdl-card__supporting-text">
        Schedule: {{this.job.cronTime.source}}
      </div>
      <div class="mdl-card__menu">
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-1">
          <input type="checkbox" id="switch-1" class="mdl-switch__input"
          onclick="toggle('{{this.name}}', '{{this.job.cronTime.source}}')" {{#if this.job.running}} checked {{/if}}>
          <span class="mdl-switch__label"></span>
        </label>
      </div>
    </div>
  </div>
{{/jobs}}
</div>
