// contains sensitive information

const reddit_credentials = {
  CLIENT_ID: 'XXXXXX',
  CLIENT_SECRET: 'XXXXXX',
  REFRESH_TOKEN: 'XXXXXX',
  USER_AGENT: 'posted by USERNAME'
}

const email_credentials = {
  TRANSPORTER: 'smtps://USERNAME%40example.com:PASSWORD@smtp.example.com',
  NAME: 'USERNAME',
  ADDRESS: 'USERNAME@example.com'
}

const EMAIL_LIST = 'EMAIL1@example.com, EMAIL2@example.com'

module.exports = {
	reddit_credentials: reddit_credentials,
  email_credentials: email_credentials,
  EMAIL_LIST: EMAIL_LIST
};
